<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="errortracer" target="SYSTEM_OUT">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout disableAnsi="false">
                <pattern>
                    %highlight{[%-5level]} %style{D%d{dd-HH:mm:ss.SSS}{GMT+8}}{dim,white} %style{[%16.16t]}{blue} %style{ \/ origin %l}{cyan} %ex{none}%n
                </pattern>
            </PatternLayout>
        </Console>
        <Console name="utillog" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false">
                <pattern>
                    %highlight{[%-5level]} %style{D%d{dd-HH:mm:ss.SSS}{GMT+8}}{dim,white} %style{[%16.16t]}{blue} %style{%-27.27c{1.}}{cyan} %highlight{%2level{ERROR=!&gt;, WARN=&gt;&gt;, INFO=&gt;, length=0} %msg%n%throwable}
                </pattern>
            </PatternLayout>
        </Console>
        <Console name="debug" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false">
                <pattern>
                    %style{[%-5level] D%d{dd-HH:mm:ss.SSS}{GMT+8}   %-57.57style{%c{2.}:%throwable{short.lineNumber}}{dim,cyan} %style{%msg%n%throwable}{dim,white}}{dim,white}
                </pattern>
            </PatternLayout>
        </Console>
        <Console name="err" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false">
                <pattern>
                    %style{[%-5level] D%d{dd-HH:mm:ss.SSS}{GMT+8}   %-57.57style{%c{2.}}{dim,cyan} %msg%n%throwable}{dim,white}
                </pattern>
            </PatternLayout>
        </Console>
        <!--
        <Console name="console2" target="SYSTEM_OUT">%d{HH:mm:ss.SSS}
            <PatternLayout pattern="%d %p [%t] %C{1.} %-5level %logger{36} - %msg%n" />
        </Console>
        -->
        <!--
        <File name="MyFile" fileName="log.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        -->
    </Appenders>
    <Loggers>
        <Logger name="lyrth.makanism" level="debug">
            <AppenderRef ref="errortracer"/>
            <AppenderRef ref="utillog"/>
        </Logger>
        <Logger name="makanism.module" level="debug">
            <AppenderRef ref="errortracer"/>
            <AppenderRef ref="utillog"/>
        </Logger>
        <Logger name="SaveHandler" level="debug"> <!-- test: debug, prod: info -->
            <AppenderRef ref="utillog"/>
        </Logger>
        <Logger name="discord4j.voice" level="info"><!-- info -->
            <AppenderRef ref="debug"/>
        </Logger>
        <Logger name="discord4j.gateway" level="info"><!-- info -->
            <AppenderRef ref="debug"/>
        </Logger>
        <Logger name="discord4j.discordjson" level="info"><!-- info -->
            <AppenderRef ref="debug"/>
        </Logger>
        <Logger name="discord4j.core" level="info"><!-- info -->
            <AppenderRef ref="debug"/>
        </Logger>
        <Logger name="discord4j.rest" level="info"><!-- info -->
            <AppenderRef ref="debug"/>
        </Logger>
        <Logger name="reactor.netty" level="error"><!-- error -->
            <AppenderRef ref="debug"/>
        </Logger>
        <Logger name="reactor" level="info"><!-- info -->
            <AppenderRef ref="debug"/>
        </Logger>
        <Logger name="reactor" level="error"><!-- error -->
            <AppenderRef ref="err"/>
        </Logger>
        <Logger name="io.netty" level="error"><!-- error -->
            <AppenderRef ref="err"/>
        </Logger>
        <Logger name="reactor.netty.resources.PooledConnectionProvider" level="error"><!-- error -->

        </Logger>
        <Logger name="reactorLog" level="trace"><!-- custom .log(...) name -->
            <AppenderRef ref="debug"/>
        </Logger>
        <Root level="debug">
            <!-- <AppenderRef ref="console" /> -->
            <!-- <AppenderRef ref="console" /> -->
            <!-- <AppenderRef ref="MyFile"/> -->
        </Root>
    </Loggers>
</Configuration>
